.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img_1 { 
      height: 400px;
      width: 1280px;
      justify-content: center;
      align-items:center;     
}

.text_1 { 
  display: flex;
  justify-content: center;
  align-items:center;
  }

.txt {
  justify-content: center;
  align-items:center;

}
.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background-image:url(https://blog.soltekonline.com/content/images/2019/09/00-3.jpg);
  color:floralwhite;
  max-width: 1300px;
  max-height: 448px;
}
.miCarousel{
  padding: 10px 10px 10px 1px;
  margin: 5px ;
  max-width: 1300px;
  max-height: 448px;
}